html {
  font-family: "Source Sans Pro";
  color: #333333;
}

h1 {
  font-size: 36px;
}

p {
  font-size: 17px;
}

/* Navigation */

.nav {
  height: 64px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}

.nav h3 {
  font-weight: bold;
}

#gray {
  color: gray;
}


.logo {
  display: inline-flex;
}

.nav li {
  display: flex;
  flex-direction: row;
  padding-left: 15px;
  margin-right: 15px;
  margin-top: 5px;
}

.nav ul {
  display: flex;
}

a:link {
  text-decoration: none;
  color: black;
}

/* Banner */

.banner {
  background-color: #cccccc;
  margin: 0 auto;
  padding: 32px;
}

.content {
  display: flex;
  align-items: center;
}

.banner img {
  width: 60%;
  margin: 28px;
}

.button {
  text-align: center;
  color: white;
  background-color: #333333;
  padding-top: 8px;
  padding-bottom: 6px;
}

.button:hover {
  background-color: white;
  color: #333333;
}

.text p {
  font-size: 20px;
}





/* Start Learning - top row */
.start {
  background-color: #e6e6e6;
  padding-top: 15px;
  padding-bottom: 28px;
}

.start h3 {
  font-size: 32px;
  padding-top: 23px;
  padding-bottom: 23px;
  text-align: center;
}

.top {
  display: flex;
  justify-content: space-around;
  margin-left: 72px;
  margin-right: 72px;

}

.top img {
  width: 75%;
  display: block;
  margin: 0 auto;
}

.box {
  background-color: white;
  padding: 30px;
  height: 270px;
  width: 280px;
}

.bottom {
  display: flex;
  justify-content: space-around;
  margin-top: 32px;
  margin-left: 72px;
  margin-right: 72px;
}

.bottom img {
  display: block;
  width: 75%;
  margin: 0 auto;
}


/* Thesis */

.header h3 {
  font-size: 32px;
  padding: 32px;
  text-align: center;
}

.thesis video {
  width: 100%;
}

.thesis .main {
  width: 60%;
}

.thesis {
  display: flex;
  margin: 0 auto;
}

.main {
  padding-left: 25px;
}

.side {
  display: flex;
  width: 40%;
  margin: 23px;
}

.more {
  display: block;
}

.more img {
  margin: 16px;
  width: 25%;
}

.more1 {
  display: flex;
  background-color: #f2f2f2;
}

.more2 {
display: flex;
}
/* Footer */

.foot {
  display: block;
  width: 100%;
  border-top: 2px solid #f2f2f2;
  margin: 24px;
}

.copy {
  display: flex;
}

.foot p {
  padding-left: 25px;
}

.right {
  display: flex;
}

/* Media Queries */

@media only screen and (max-width: 500) {

  /* Navigation */
  .nav {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }

  .logo h3 {
    display: none;
  }

  .nav li {
    display: none;
  }

  /* Banner */
  .content {
    display: block;
  }

  .banner {
    margin: 0px;
  }

  .banner img {
    width: 100%;
    margin: 0 auto;
  }

  /* Start */
  .start {
    background-color: #f2f2f2;
  }

  .top {
    display: block;
  }

  .bottom {
    display: block;
    margin-top: 0px;
    padding-bottom: 25px;
  }

  .top img {
    display: none;
  }

  .bottom img {
    display: none;
  }

  .top p {
    display: none;
  }

  .bottom p {
    display: none;
  }

  .box  {
    width: 100%;
    height: auto;
    margin: 0 auto;
    padding: 10px;
    background-color: #e6e6e6;
}

  .box h4 {
    margin-left: 16px;
  }

  /* footer */
  .right {
    display: none;
  }

}
